nav {
    background-color: var(--secondary);
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
    z-index: 100;
}

nav a {
    color: var(--light);
    text-decoration: none;
    margin: 0 1.5rem;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
}

nav a.active, nav a:hover {
    color: var(--accent);
    background-color: rgba(255, 255, 255, 0.05);
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: var(--accent);
    border-radius: 3px;
    transition: all .3s ease;
}

nav a.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 3px;
    background-color: var(--accent);
    border-radius: 3px;
}